<ul class="sg-colors">
	<li>
		<span class="sg-swatch primary-background"></span>
		<span class="sg-label">Primary</span>
	</li>
	<li>
		<span class="sg-swatch secondary-primary-background"></span>
		<span class="sg-label">Secondary Primary</span>
	</li>
	<li>
		<span class="sg-swatch dark-primary-background"></span>
		<span class="sg-label">Dark Primary</span>
	</li>
	<li>
		<span class="sg-swatch primary-neutral-background"></span>
		<span class="sg-label">Primary Neutral</span>
	</li>
	<li>
		<span class="sg-swatch secondary-neutral-background"></span>
		<span class="sg-label">Secondary Neutral</span>
	</li>
	<li>
		<span class="sg-swatch tertiary-neutral-background"></span>
		<span class="sg-label">Tertiary Neutral</span>
	</li>
	<li>
		<span class="sg-swatch light-neutral-background"></span>
		<span class="sg-label">Light Neutral</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>
